body {
            font-family: Arial, sans-serif;
            background: #f9f4fb;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 60px;
        }

        h1 {
            color: #a165bd;
        }

        form {
            background: white;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            width: 300px;
        }

        form div {
            margin-bottom: 15px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
        }

        button {
            width: 100%;
            padding: 10px;
            background: #f56ea9;
            color: white;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }

        button:hover {
            background: #1e40af;
        }

        .spinner {
        width: 30px;
        height: 30px;
        border: 4px solid #ccc;
        border-top: 4px solid #2563eb;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin: 10px auto;
        }

        @keyframes spin {
            to { transform: rotate(360deg); }
        }